<!-- Content -->
<div class="overflow-x-hidden">
  <form [formGroup]="conversionForm">
    <div uiFormFieldDirective class="mt-4">
      <label>{{ 'common.field.one' | translate }}</label>
      <ui-select-menu formControlName="selectedField">
        <ui-select-option
          *ngFor="let field of getFieldsNames()"
          [value]="field"
        >
          {{ field }}
        </ui-select-option>
      </ui-select-menu>
    </div>

    <div uiFormFieldDirective class="mt-4">
      <label class="inline">{{
        'components.conversion.initialType.name' | translate
      }}</label>
      <ui-icon
        class="ml-2 cursor-pointer"
        [size]="16"
        icon="info_outline"
        variant="grey"
        [uiTooltip]="'components.conversion.initialType.tooltip' | translate"
      ></ui-icon>
      <ui-select-menu formControlName="selectedType">
        <ui-select-option *ngFor="let type of getAllTypes()" [value]="type">
          {{ getDisplayName(type) }}
        </ui-select-option>
      </ui-select-menu>
    </div>

    <div uiFormFieldDirective class="mt-4">
      <label class="inline">{{
        'components.conversion.newType.name' | translate
      }}</label>
      <ui-icon
        class="ml-2 cursor-pointer"
        [size]="16"
        icon="info_outline"
        variant="grey"
        [uiTooltip]="'components.conversion.newType.tooltip' | translate"
      >
      </ui-icon>
      <ui-select-menu formControlName="selectedConvertibleType">
        <ui-select-option
          *ngFor="let type of getConvertibleTypes()"
          [value]="type"
        >
          {{ getDisplayName(type) }}
        </ui-select-option>
      </ui-select-menu>
    </div>

    <div uiFormFieldDirective class="mt-4">
      <label class="inline">{{
        'components.conversion.failedAction.name' | translate
      }}</label>
      <ui-icon
        class="ml-2 cursor-pointer"
        [size]="16"
        icon="info_outline"
        variant="grey"
        [uiTooltip]="'components.conversion.failedAction.tooltip' | translate"
      ></ui-icon>
      <ui-select-menu formControlName="selectedFailedConversionAction">
        <ui-select-option
          *ngFor="let action of failedConversionActions"
          [value]="action.value"
        >
          {{ action.action }}
        </ui-select-option>
      </ui-select-menu>
    </div>

    <div
      uiFormFieldDirective
      class="mt-4"
      *ngIf="checkActionRequirement('popArray')"
    >
      <label class="inline">{{
        'components.conversion.popArray.name' | translate
      }}</label>
      <ui-icon
        class="ml-2 cursor-pointer"
        [size]="16"
        icon="info_outline"
        variant="grey"
        [uiTooltip]="'components.conversion.popArray.tooltip' | translate"
      ></ui-icon>
      <ui-select-menu formControlName="selectedPopArrayAction">
        <ui-select-option
          *ngFor="let action of popArrayActions"
          [value]="action.value"
        >
          {{ action.action }}
        </ui-select-option>
      </ui-select-menu>
    </div>

    <div
      uiFormFieldDirective
      class="mt-4"
      *ngIf="checkActionRequirement('selectResource')"
    >
      <label class="inline">{{
        'components.conversion.selectResource.name' | translate
      }}</label>
      <ui-icon
        class="ml-2 cursor-pointer"
        [size]="16"
        icon="info_outline"
        variant="grey"
        [uiTooltip]="'components.conversion.selectResource.tooltip' | translate"
      ></ui-icon>
      <ui-select-menu formControlName="selectedResourceAction">
        <ui-select-option [value]="'None'" class="italic">
          None
        </ui-select-option>
        <ui-select-option
          *ngFor="let resource of resources"
          [value]="resource.resource.id"
        >
          {{ resource.resource.name }}
        </ui-select-option>
      </ui-select-menu>
    </div>
  </form>
  <div class="flex justify-end my-4">
    <ui-button
      category="secondary"
      variant="primary"
      icon="autorenew"
      (click)="onClick()"
      [disabled]="!conversionForm.valid"
    >
      {{ 'components.conversion.convertButton' | translate }}
    </ui-button>
  </div>
</div>
