# Dependencies
/node_modules

# Test
/coverage

# Doc
/documentation

# Widgets
/widgets

# Dist
/dist

# Cache
/.angular

# Static assets
/assets

# Generated / lock files
/package-lock.json
/CHANGELOG
/CHANGELOG.md
*.log