<div
  class="relative flex flex-col bg-neutral-950"
  mwlResizable
  (resizing)="onResizing($event)"
  [ngStyle]="navbarStyle"
  [validateResize]="validate.bind(this)"
>
  <!-- Overlay when loading -->
  <div
    *ngIf="loading"
    class="absolute inset-0 bg-black bg-opacity-50 z-20 flex justify-center items-center"
  >
    <ui-spinner></ui-spinner>
  </div>

  <div
    class="cursor-col-resize absolute h-full left-0 w-1.5 z-10"
    mwlResizeHandle
    [resizeEdges]="{ left: true }"
  ></div>

  <!-- Header -->
  <div class="items-center p-4 border-b border-stone-750">
    <div class="flex justify-between items-center mb-2">
      <h2 class="mb-0 whitespace-nowrap mr-4">
        {{ 'components.application.customStyling' | translate }}
      </h2>
      <div class="flex gap-2">
        <ui-button
          variant="primary"
          category="secondary"
          [isIcon]="true"
          icon="check"
          (click)="onSave()"
          [disabled]="!applicationId || formControl.pristine"
          [uiTooltip]="'common.save' | translate"
        >
        </ui-button>
        <ui-button
          [isIcon]="true"
          icon="close"
          (click)="onClose()"
          [uiTooltip]="'common.cancel' | translate"
        >
        </ui-button>
      </div>
    </div>
  </div>

  <!-- Style editor -->
  <div class="grow overflow-y-auto overflow-x-hidden">
    <ngx-monaco-editor
      class="!h-full"
      (onInit)="initEditor($event)"
      [options]="editorOptions"
      [formControl]="formControl"
    ></ngx-monaco-editor>
  </div>
</div>
