<!-- Loading indicator -->
<ui-spinner
  class="flex justify-center items-center h-screen"
  *ngIf="loading"
></ui-spinner>
<!-- Application wrapper -->
<shared-layout
  *ngIf="!loading"
  [route]="route"
  [header]="header"
  [leftSidenav]="pages"
  [sideMenu]="sideMenu"
  [menuOpened]="!hideMenu"
  [variant]="variant"
></shared-layout>
<ng-template #header>
  <app-application-header
    [title]="title"
    [navItems]="adminNavItems"
    [canUpdate]="application?.canUpdate!"
    class="overflow-hidden"
  ></app-application-header>
</ng-template>
<!--Need the nav variable, don't remove let-nav, used in layout-->
<ng-template #pages let-nav>
  <shared-navbar
    [nav]="nav"
    [navGroups]="navGroups"
    [appLayout]="true"
    [canAddPage]="application?.canUpdate!"
    [vertical]="!(!sideMenu && largeDevice)"
    [variant]="variant"
    [appName]="application?.name!"
    [appLogo]="application?.logo!"
    (reorder)="onReorder($event)"
  ></shared-navbar>
  <!--@TODO add application.logo from backend, this is just a placeholder example-->
</ng-template>
