<h1>{{ 'common.trigger.few' | translate }}</h1>

<div class="flex flex-row flew-wrap gap-8 justify-between items-center mb-8">
  <!-- Filtering -->
  <app-triggers-filter
    (filter)="onFilter($event)"
    [loading]="filterLoading"
  ></app-triggers-filter>
  <!-- Add new trigger -->
  <ui-button
    variant="primary"
    category="secondary"
    [uiMenuTriggerFor]="triggersOptionsMenu"
    (click)="$event.stopPropagation()"
    [disabled]="loading || updating"
  >
    {{ 'components.triggers.addTrigger' | translate }}
  </ui-button>
</div>

<!-- Triggers list -->
<div class="overflow-x-hidden shadow-2lg">
  <div class="overflow-x-auto">
    <app-triggers-list
      *ngIf="!loading"
      [disabled]="loading || updating"
      [applicationId]="applicationId"
      [triggersList]="triggers"
      (onEdit)="onEditTrigger($event.trigger, $event.type)"
      (onDuplicate)="onDuplicateTrigger($event.trigger, $event.type)"
      (onDelete)="onDeleteTrigger($event.trigger)"
      (openFilter)="onOpenFilter($event)"
    ></app-triggers-list>

    <!-- Empty table skeleton -->
    <shared-skeleton-table
      class="my-4 mx-0 w-full"
      *ngIf="loading"
      [columns]="['common.name']"
    ></shared-skeleton-table>
  </div>
</div>

<!-- Paginator for triggers list -->
<ui-paginator
  [disabled]="loading || updating"
  [pageIndex]="pageInfo.pageIndex"
  [pageSize]="pageInfo.pageSize"
  [pageSizeOptions]="[10, 25, 50]"
  [totalItems]="pageInfo.length"
  [ariaLabel]="'components.resource.paginator.ariaLabel' | translate"
  (pageChange)="onPage($event)"
>
</ui-paginator>

<!-- Add new trigger menu -->
<ui-menu #triggersOptionsMenu>
  <button
    uiMenuItem
    *ngFor="let item of TriggersTypes"
    (click)="onCreateTrigger(item)"
  >
    {{ 'components.triggers.' + item | translate }}
  </button>
</ui-menu>
