<h1>{{ 'common.trigger.few' | translate }}</h1>

<!-- Filtering -->
<app-triggers-filter
  class="block mb-8"
  (filter)="onFilter($event)"
  [loading]="filterLoading"
></app-triggers-filter>

<!-- Triggers list -->
<div class="overflow-x-hidden shadow-2lg">
  <div class="overflow-x-auto">
    <app-triggers-list
      *ngIf="!loading"
      [disabled]="loading || updating"
      [applicationId]="applicationId"
      [triggersList]="triggers"
      (onAdd)="onCreateTrigger($event.type)"
      (onEdit)="onEditTrigger($event.trigger, $event.type)"
      (onDuplicate)="onDuplicateTrigger($event.trigger, $event.type)"
      (onDelete)="onDeleteTrigger($event.trigger)"
      (openFilter)="onOpenFilter($event)"
    ></app-triggers-list>

    <!-- Empty table skeleton -->
    <shared-skeleton-table
      class="my-4 mx-0 w-full"
      *ngIf="loading"
      [columns]="['common.name']"
    ></shared-skeleton-table>
  </div>
</div>

<ui-paginator
  [disabled]="loading || updating"
  [pageIndex]="pageInfo.pageIndex"
  [pageSize]="pageInfo.pageSize"
  [pageSizeOptions]="[10, 25, 50]"
  [totalItems]="pageInfo.length"
  [ariaLabel]="'components.resource.paginator.ariaLabel' | translate"
  (pageChange)="onPage($event)"
>
</ui-paginator>
