<ui-dialog size="small">
  <ng-container ngProjectAs="header">
    <h3 class="font-semibold">
      {{ 'components.form.create.template.selectResource' | translate }}
    </h3>
  </ng-container>

  <ng-container ngProjectAs="content">
    <form [formGroup]="form">
      <div uiFormFieldDirective class="w-full">
        <label>{{ 'common.resource.one' | translate }}</label>
        <shared-resource-select formControlName="resource"></shared-resource-select>
      </div>
    </form>
  </ng-container>

  <ng-container ngProjectAs="actions">
    <ui-button [uiDialogClose] variant="default">
      {{ 'common.close' | translate }}
    </ui-button>
    <ui-button
      category="secondary"
      variant="primary"
      [uiDialogClose]="form.value.resource"
      [disabled]="!form.valid"
    >
      {{ 'common.create' | translate }}
    </ui-button>
  </ng-container>
</ui-dialog>

